@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	box-sizing: border-box;
}

body {
   
	font-family: 'Oswald', sans-serif;
	background-image: url("https://www.thomsonreuters.com/content/dam/ewp-m/images/image-library/en/photography/201138-118072186.jpeg.transform/hero-s/q90/image.jpg");

	background-color: #3e4042;
	margin: 0;
}

nav {
	background-color: #2f4d7c;
	height: 60px;
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}


 h1 {

	padding-left: 25px;
}

p {
 font-weight: bold;
 font-size: 20px;
 padding-left: 25px;
 margin: 25px 50px;
 }

a {
	text-decoration: none;
	color: #edeff2;
}

a:hover {
	color:#7E4ED7;
}

nav a {
 	padding-left: 15px;
	font-size: 20px;
	color: #edeff2;
	font-weight: bold;
	}

header {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #1e57b2;
	text-align: center;
	font-size: 24px;
}

.title {
	font-size: 30px;
	font-weight: bold;
}

span {
	font-weight: bold;
}

.project {
	border-top: solid 5px #1e57b2;
	height: 6500px;
}

#pageShell {
 
	margin: 0 auto;
	width: 70%;
	border-left: solid 2px white;
	border-right: solid 2px white;
	background-color: #3e4042; 

}

footer {
	background-color: #1e57b2;
	text-align: center;
	font-size: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
}

section p {
	font-size: 25px;
}

img { 
 padding: 20px;
 }
 
.proj1_image {
	display: inline-block;
}
	
.proj2_image {
	display: inline-block;
}
	
.proj3_image {
	display: inline-block;
}
	
.proj2_image p {
	font-size: 25px;
	color: #edeff2;
}
.proj1_image p {
	font-size: 25px;
	color: #edeff2;
}

.proj3_image p{
	font-size: 25px;
	color: edeff2;
}


 li {
 
 font-size: 25px;
 padding: 25px;
 font-family: 'Oswald', sans-serif;
 font-weight: bold;
 }
 
 